<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant SDA-7 - Daily configuration</title>
</head>
<body>

    <p>Bine ati venit pe pagina de CONFIGURARE ZILNICA a aplicatiei de management a Restaurantului SDA-7!</p>
    <br>
    <p>Configurarea este permisa numai pentru personalul autorizat!</p>
    <br>
    <br>
    <p>Repartizarea meselor pe ospătari
        <input type="button" onclick="location.href='/repartizareMese'" value="Corelare mese - ospatari"></p>
    <br>

</body>
</html>